<div class="page">
  <app-header
    [navLinks]="navLinks"
    [activeSection]="activeSection"
    (scrollToSection)="scrollTo($event)"
  ></app-header>

  <main>
    <app-hero
      [subtitle]="heroSubtitle"
      [title]="heroTitle"
      [body]="heroBody"
      (scrollToSection)="scrollTo($event)"
      #sectionEl
    ></app-hero>

    <app-skills [skills]="skills" #sectionEl></app-skills>

    <app-experience [experiences]="experiences" #sectionEl></app-experience>

    <app-services [services]="services" #sectionEl></app-services>

    <app-projects [projects]="projects" #sectionEl></app-projects>

    <app-contact [socials]="socials" #sectionEl></app-contact>
  </main>

  <app-footer [currentYear]="currentYear"></app-footer>
</div>
